<ul class="list-group">
  <% @sent_messages.each do |message| %>
    <li class="list-group-item message-title <%=' list-group-item-warning' if message.unread%>">
      <% if message.unread %>
       <span class="label label-default label-pill pull-right"> unread </span>
      <% else %>
       <span class="label label-default label-pill pull-right">was read <%= message.readtime.try(:strftime, "on %d/%m/%Y at %I:%M%p")%></span>  
      <% end %>
      To: <%=message.recipient.name%>
    </li>
  <% end %>
</ul>

<div class="action-bar">
  <%= link_to 'New Message', new_message_path , class: "btn btn-secondary" %>
  <%= link_to 'Back', root_path , class: "btn btn-secondary" %>
</div>